:root {
  --dark-blue: #25274d;
  --dark-blue-reduced: #25274d8a;
  --dark-grey: #464866;
  --light-grey: #aaabb8;
  --light-blue: #2e9cca;
  --light-blue-reduced: #2e9bcac9;
  --blue: #29648a;
  --blue-reduced: #29638a65;
  --white: #fdfffe;
  --light-red: #ff5590;
  --red: #ff0059;
  --red-reduced: #ff005985;
}
